@model WebStore.Entities.ViewModels.CatalogViewModel

@{
    ViewData["Title"] = "Купить";
    Layout = "_LayoutLight";
}

@await Html.PartialAsync("Partial/_Advertisement")

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @await Html.PartialAsync("Partial/_LeftSideBar")
            </div>
            <div class="col-sm-9 padding-right">
                @await Html.PartialAsync("Partial/_ProductItems", Model.Products)
            </div>
        </div>
    </div>
</section>