@{
    Layout = "_LayoutLight";
}

<section>
    <div class="container">
        @RenderBody()
    </div>
</section>

@section styles
{
    @RenderSection("styles", false)
}

@section scripts
{
    @RenderSection("scripts", false)
}
