@model LoginUserViewModel
@{
    ViewData["Title"] = "Вход";
    Layout = "_LayoutLight";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    <form method="post">
                        <input asp-for="UserName" type="text" placeholder="Имя пользователя" />
                        <input asp-for="Password" type="password" placeholder="Пароль" />
                        <span>
                            <input asp-for="RememberMe" type="checkbox" class="checkbox">
                            запомнить?
                        </span>
                        <button type="submit" class="btn btn-default">Вход</button>
                    </form>
                </div><!--/login form-->
            </div>
            @*<div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>*@
            @*<div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form action="#">
                        <input type="text" placeholder="Name" />
                        <input type="email" placeholder="Email Address" />
                        <input type="password" placeholder="Password" />
                        <button type="submit" class="btn btn-default">Signup</button>
                    </form>
                </div><!--/sign up form-->
            </div>*@
        </div>
    </div>
</section><!--/form-->