@model WebStore.Models.EmployeeView

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Employe - @Model.FirstName details</title>
</head>
<body>
    <h1>Employe</h1>
    <h2>@Model.FirstName</h2>
</body>
</html>