<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8"/>
    <title>Home - index</title>
</head>
<body>
    <p>Hello World from Home.Index</p>
</body>
</html>