
@{
    ViewData["Title"] = "Админка";
}

<hr/>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info">
            <strong>Добро пожаловать, @User.Identity.Name!</strong> У Вас нет предстоящих задачь на сегодня.
        </div>
    </div>
</div>

<div class="row text-center pad-top">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#">
                <i class="fa fa-circle-o fa-5x"></i>
                <h4>Проверка данных</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#">
                <i class="fa fa-envelope-o fa-5x"></i>
                <h4>Почтовый ящик</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#">
                <i class="fa fa-envelope-o fa-5x"></i>
                <h4>Новые события</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#">
                <i class="fa fa-envelope-o fa-5x"></i>
                <h4>Пользователи</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#">
                <i class="fa fa-envelope-o fa-5x"></i>
                <h4>Администрирование</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#">
                <i class="fa fa-envelope-o fa-5x"></i>
                <h4>Поддержка</h4>
            </a>
        </div>
    </div>
</div>